.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;

  &__content {
    width: 430px;
    min-height: 330px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    padding: 34px 36px;

    @media screen and (max-width: 540px) {
      width: calc(100% - 60px);
    }
  }

  &__image {
    max-width: 80vh;
    max-height: 80vh;
    object-fit: cover;
    display: block;
    object-position: center;
    position: relative;
  }

  &__contentImage {
    max-width: 80vh;
    max-height: 80vh;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    /* padding: 34px 36px; */
    @media screen and (max-width: 540px) {
      width: calc(100% - 60px);
    }
  }

  &__close {
    width: 26px;
    position: absolute;
    top: -26px;
    right: -26px;
    cursor: pointer;
  }

  &__title {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    color: #000;
  }

  &__form {
    margin-top: 60px;
  }

  &__input {
    width: 100%;
    height: 47px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 14px;
    line-height: 17px;
    box-sizing: border-box;
    /* padding: 5px 6px 13px;
    margin-bottom: 24px; */
    padding: 0 10px;
    margin: 10px 0;
  }

  &__button {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, .2);
    margin-top: 48px;
    /* color: rgba(0, 0, 0, .2); */
    color: white;
    font-size: 36px;
    background-color: black;

    &_user {
      margin-top: 48px;
      color: white;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      background-color: black;
    }

    &:disabled {
      background-color: white;
      color: rgb(159, 159, 159);
    }
  }

}

.error {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12.5px;
  line-height: 15px;
  color: red;
  display: block;
  height: 15px;
  padding-top: 5px;
}

