.userInfo {
    display: flex;
    position: relative;
    align-items: flex-start;
    color: white;
    width: 100%;
}

@media screen and (max-width: 980px) {
    .userInfo {
        flex-direction: column;
        align-items: center;
    }
}

.userInfo__photo {
    width: 150px;
    height: 150px;
    min-width: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-image: url(../../../images/avatar.jpg);
}

@media screen and (max-width: 980px) {
    .userInfo__photo {
        margin-top: 40px;
    }
}
.userInfo__data {
    max-width: 364px;
    margin-left: 36px;
}

@media screen and (max-width: 980px) {
    .userInfo__data {
        margin: 20px 0;
        text-align: center;
    }
}

.userInfo__name {
    margin: 0;
    font-weight: normal;
    font-size: 54px;
    line-height: 56px;
}

.userInfo__job {
    margin: 20px 0 0 0;
    font-size: 20px;
    line-height: 25px;
}
.userInfo__btnEdit {
    margin-top: 24px;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    text-align: center;
    background-color: transparent;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    cursor: pointer;
}

.userInfo__btnEdit:focus {
    outline-color: greenyellow;
}

.userInfo__button {
    position: absolute;
    top: 16px;
    right: 0;
}

@media screen and (max-width: 980px) {
    .userInfo__button {
        position: static;
        margin-bottom: 40px;
    }
}
